.c-list{
  position: relative;
}

  .c-list__item{
    border-radius: $radius;
    overflow: hidden;
    border: 0.1rem solid $lighter-gray;
    margin-bottom: 1.2rem;
  }

  .c-list__item--choose{
    .c-list-item__main{
      padding-right: 10rem;
    }
    .c-list-item__icons{
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 12rem;
    }
    .c-list-item__type{
      min-width: 30rem;
    }
  }

  .c-list-item__main{
    height: 6rem;
    background: $lightest-gray;
    padding-left: 5rem;
    padding-right: 14rem;
    position: relative;

    &.is-open{
      .c-icon-arrow{
        @include transform(rotate(0));
      }
    }
  }

    .c-icon-arrow{
      width: 3rem;
      position: absolute;
      left: 1rem;
      top: 0.5rem;
      @include transform(rotate(-90deg));
      .c-path{
        fill: $subtext-color;
      }
    }

    .c-list-item__contain{
      width: 96%;
      height: 100%;
      @include display-flex;
      @include align-items(center);
    }

    .c-list-item__click{
      width: 425px;
      height: 100%;
      position: absolute;
      @include display-flex;
    }

      .c-list-item__title{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1;
        color: $text-color;
        @include flex(1);
        @include truncate;
      }

      .c-list-item__type{
        font-size: 1.4rem;
        font-weight: 400;
        color: $text-color;
      }

        .c-dropdown{
          position: relative;
          display: inline-block;
          margin-right: 0.3rem;

          select{
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            outline: none;
            height: 3.5rem;
            border-radius: $radius;
            border: 0.1rem solid $lighter-gray;
            background: $white;
            font-size: 1.4rem;
            padding: 0 2.5rem 0 0.8rem;
            color: $text-color;
          }

          .c-icon-drop{
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            pointer-events: none;
            .c-path{
              fill: $subtext-color;
            }
          }
        }

    .c-list-item__icons{
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 11rem;
    }

      .c-icon{
        width: 1.9rem;
        height: 1.9rem;
        margin-right: 0.8rem;
        .c-path{
          fill: $subtext-color;
          @include transition(all 0.1s ease);
        }
      }




  .c-list-item__description{
    background: $white;
    border-top: 0.1rem solid $lighter-gray;

    p{
      font-size: 1.4rem;
      color: $text-color;
      padding: 2rem;
      margin: 0;
      font-weight: 400;
    }
  }
