<% content_for :head do -%>
  <%= stylesheet_pack_tag "atomic_docs" %>
<% end -%>

<%= render 'shared/default_atomic_docs_client_settings' %>
<div id="main-app"></div>

<%= javascript_packs_with_chunks_tag "atomic_docs", "data-turbolinks-track": "reload" %>
