<% content_for :head do -%>
  <%= stylesheet_pack_tag "atomicdocs" %>
<% end -%>

<%= render 'shared/default_atomicdocs_client_settings' %>
<div id="main-app"></div>

<%= javascript_packs_with_chunks_tag "atomicdocs", "data-turbolinks-track": "reload" %>
