// from http://purecss.io/buttons/

.pure-button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.button-primary {
  background-color: #0078e7;
  color: #fff;
}
