// Colors
$white: #ffffff;
$green: #51B548;
$yellow: #E2C10E;
$red: #D04545;
$blue: #2071BB;
$dark-gray: #333333;
$gray: #5D5D5D;
$light-gray: 0x777777;
$lighter-gray: #dddddd;
$lightest-gray: #f5f5f5;
