// Colors
$white: #ffffff;

$yellow: #E2C10E;
$blue2: #2071BB;
$green: #4B9C43;
$red: #D04545;

$blue: #000066;

$gray2: #222222;
$gray5: #595959;
$gray8: #888888;
$grayA: #aaaaaa;
$grayC: #C6C6C6;
$grayD: #dddddd;
$grayF: #f5f5f5;

$radius: 3px;
