.main{
  padding-top: 1rem;
}

.row{
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: -$row-spacing;
}

.column{
  width: 100%;
  padding-left: $row-spacing;
}

@media (min-width: 670px){
  .u-half{
    width: 50% !important;
  }
}
