.search{
  max-width: 40rem;
  width: 100%;
  display: flex;
  align-items: center;

  input{
    flex: 1;
    min-height: 3.8rem;
    border: 0.1rem solid $gray7;
    border-radius: 0.3rem;
    @include regular;
    font-size: 1.4rem;
    color: $gray3;
    padding: 0 1rem;
    margin-right: 0.4rem;
    -webkit-appearance: none; //fix safari

    &:focus{
      outline: thin dotted $blue;
    }
    &::-webkit-search-decoration{
      -webkit-appearance: none; //fix safari
    }
  }

  .search__btn{
    height: 3.8rem;
    border-radius: 0.3rem;
    background: $blue;
    padding: 0 1.2rem;
    border: none;
    color: $white;
    @include regular;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    transition: all 0.1s ease;

    &:hover{
      cursor: pointer;
      background: lighten($blue, 5%);
    }
    &:focus{
      outline: thin dotted $blue;
    }
  }
}

.input{
  position: relative;
  label{
    display: block;
    @include bold;
    font-size: 1.3rem;
    color: $blue;
    margin-bottom: 0.4rem;
  }
  input{
    width: 100%;
    border-radius: 0.3rem;
    height: 3.8rem;
    border: 0.1rem solid $gray7;
    @include regular;
    font-size: 1.4rem;
    padding: 0 1rem;
    background: $white;

    &:disabled{
      border-color: $grayE;
      color: $grayB;
    }
  }
  textarea{
    width: 100%;
    border-radius: 0.3rem;
    min-height: 3.8rem;
    border: 0.1rem solid $gray7;
    @include regular;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    background: $white;
    resize: none;

    &:disabled{
      border-color: $grayE;
      color: $grayB;
    }
  }
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border-radius: 0.3rem;
    height: 3.8rem;
    border: 0.1rem solid $gray7;
    @include regular;
    font-size: 1.4rem;
    padding: 0 1rem;
    background: none;
    cursor: pointer;
    // hide the arrow in ie
    &::-ms-expand {
      display: none;
    }
    &:disabled{
      border-color: $grayE;
      color: $grayB;
    }
  }
  input, textarea, select {
    &:focus{border-color: $blue !important; outline: thin dotted $blue;}
  }
  span{
    display: block;
    font-size: 1.2rem;
    @include regular;
    color: $blue;
    margin-top: 0.2rem;

    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

.btn{
  font-size: 1.4rem;
  @include regular;
  border: none;
  background: none;
  min-height: 3.8rem;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  border-radius: 0.3rem;
  transition: all 0.1s ease;

  &:hover{
    cursor: pointer;
  }
  &:focus{
    outline: thin dotted $blue;
  }
  &:disabled{
    opacity: 0.65;

    &:hover{
      cursor: not-allowed;
    }
  }
}

.btn--primary{
  background: $blue;
  color: $white;

  &.is-green{
    background: $green;
    opacity: 0;
    animation-name: drop-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.1s;

    &:hover{
      background: lighten($green, 5%);
    }
  }
  &.is-red{
    background: $red;
    opacity: 0;
    animation-name: drop-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    &:hover{
      background: lighten($red, 5%);
    }
  }

  &:hover{
    background: lighten($blue, 5%);
  }
}

@keyframes drop-in{
  0%{
    opacity: 0;
    transform: scale(1.15);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.btn--outline{
  color: $blue;
  border: 0.1rem solid $gray7;

  &:hover, &:focus{
    background: $white;
  }
}
