// Colors
$white: #ffffff;

$yellow: #E2C10E;
$green-alt: #51B548;
$red: #D04545;

$dark-gray: #333333;
$gray: #5D5D5D;
$light-gray: #C6C6C6;

$text-color: #444444;

$lighter-gray: #dddddd;
$lightest-gray: #f5f5f5;

$radius: 4px;

$green: #51B548;
$blue: #000066;
$grayer: #eaeaea;

$subtext-color: #aaaaaa;
$gold: #C1A17A;
$border-gray: #d0d0d0;
