// Colors
$white: #ffffff;
$grayF: #f5f5f5;
$grayE: #eaeaea;
$grayD: #dddddd;
$grayC: #cccccc;
$grayB: #bbbbbb;
$grayA: #aaaaaa;
$gray9: #999999;
$gray8: #888888;
$gray7: #777777;
$gray6: #666666;
$gray5: #595959;
$gray4: #444444;
$gray3: #333333;
$gray2: #222222;
$gray1: #111111;

$blue: #2D3B44;
$blue2: #A5AFB5;
$blue3: #2A89AA;
$blue4: #C7CDD1;
$green: #2E7D32;
$red: #D32F2F;
